<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- api preference -->
    <preference for="Eriocnemis\Directory\Api\Data\RegionInterface" type="Eriocnemis\Directory\Model\Data\Region"/>
    <preference for="Eriocnemis\Directory\Api\Data\Region\LabelInterface" type="Eriocnemis\Directory\Model\Data\Region\Label"/>
    <preference for="Eriocnemis\Directory\Api\Data\Region\SearchResultInterface" type="Eriocnemis\Directory\Model\Data\Region\SearchResult"/>
    <preference for="Eriocnemis\Directory\Api\Region\SaveInterface" type="Eriocnemis\Directory\Spi\Region\Save"/>
    <preference for="Eriocnemis\Directory\Api\Region\GetByIdInterface" type="Eriocnemis\Directory\Spi\Region\GetById"/>
    <preference for="Eriocnemis\Directory\Api\Region\GetListInterface" type="Eriocnemis\Directory\Spi\Region\GetList"/>
    <preference for="Eriocnemis\Directory\Api\Region\DeleteByIdInterface" type="Eriocnemis\Directory\Spi\Region\DeleteById"/>
    <preference for="Eriocnemis\Directory\Api\Region\ValidateInterface" type="Eriocnemis\Directory\Spi\Region\Validate"/>
    <preference for="Eriocnemis\Directory\Api\Region\ResolveInterface" type="Eriocnemis\Directory\Spi\Region\Resolve"/>
    <preference for="Eriocnemis\Directory\Model\Region\ValidatorInterface" type="Eriocnemis\Directory\Model\Region\Validator"/>
    <!-- validator configuration -->
    <type name="Eriocnemis\Directory\Model\Region\Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="name" xsi:type="object">Eriocnemis\Directory\Model\Region\Validator\DefaultNameValidator</item>
                <item name="code" xsi:type="object">Eriocnemis\Directory\Model\Region\Validator\CodeValidator</item>
                <item name="country" xsi:type="object">Eriocnemis\Directory\Model\Region\Validator\CountryValidator</item>
                <item name="label" xsi:type="object">Eriocnemis\Directory\Model\Region\Validator\LabelValidator</item>
            </argument>
        </arguments>
    </type>
    <!-- handler configuration
    <virtualType name="DirectoryRegionHandlerPool" type="Eriocnemis\Directory\Model\ResourceModel\Region\Handler\HandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="load" xsi:type="object">Eriocnemis\Directory\Model\ResourceModel\Region\Handler\LoadHandler\Proxy</item>
                <item name="save" xsi:type="object">Eriocnemis\Directory\Model\ResourceModel\Region\Handler\SaveHandler\Proxy</item>
                <item name="delete" xsi:type="object">Eriocnemis\Directory\Model\ResourceModel\Region\Handler\DeleteHandler\Proxy</item>
            </argument>
        </arguments>
    </virtualType> -->
    <!-- plugin -->
    <type name="Magento\Directory\Model\ResourceModel\Region\Collection">
        <plugin name="eriocnemis_directory" type="Eriocnemis\Directory\Plugin\Directory\Model\ResourceModel\Region\CollectionPlugin"/>
    </type>
</config>
