<?xml version="1.0"?>
<!--
/**
 * Copyright © Eriocnemis, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Backend::directory" title="Geography" translate="title" module="Magento_Backend" sortOrder="56" parent="Magento_Backend::stores" resource="Magento_Backend::directory"/>
        <add id="Eriocnemis_Directory::region" title="Regions" translate="title" module="Eriocnemis_Directory" sortOrder="10" parent="Magento_Backend::directory" action="eriocnemis_directory/region" resource="Eriocnemis_Directory::region"/>
    </menu>
</config>
